@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

@media (min-width: 1271px) {
  body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: url("../img/imagem_de_fundo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }

  .navegacao a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }

  .navegacao a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }

  .navegacao .botao-login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
  }

  .navegacao .botao-login:hover {
    background: #fff;
    color: #000;
  }

  .body-caixa {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding: 2%;
  }

  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    bottom: 0;
    text-align: center;
  }

  .contato h5 {
    color: rgb(61, 226, 255);
    font-size: 1.5em;
  }

  .contato a {
    font-size: 2em;
  }
}
