.nenhum-display {
  display: none;
}

.display-padrao {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2%;
  overflow: hidden;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
